<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %></title>
    <script type="text/javascript" src="/dist/purify.js"></script>
</head>
<body onload="load();">
    <script>
        function load() {
            const safe = DOMPurify.sanitize("<%- aboutMe.replaceAll("<", "\\x3c").replaceAll(">", "\\x3e"); %>");
            document.getElementsByClassName("aboutMe")[0].innerHTML=safe;
        }
    </script>
    <h1><%= name %></h1>
    <div class="aboutMe"></div>
    <button onclick="window.location.href=window.location.origin + '/review/<%= name.replaceAll("'", "\\'") %>'">Show Alex</button>
</body>
</html>